#navbar-01 {
  padding: 0 !important;
  margin: 0 !important;
}

#nav-01 {
  display: flex;
  heigth: 100%;
}

#search-form-top {
  width: 50%;
}

.cus-btn {
  border: none;
  outline: none;
  background: transparent;
  font-weight: inherit;
}

.link-light:hover {
  color: #04aa6d !important;
}

.mini-icon-frame button {
  background: none;
  color: white;
  border: none;
  outline: none;
}

.tagnamecolor {
  color: brown;
}

.tagcolor {
  color: mediumblue;
}

.attributecolor {
  color: red;
}

.code-frame {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
}

#carousel-slider .carousel-indicators button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #bbb;
  margin: 0 4px;
}

#carousel-slider .carousel-indicators button.active {
  background-color: #717171;
}

a.hover-primary:hover {
  color: #04aa6d !important;
}

.hover-bg-primary:hover {
  background-color: #04aa6d !important;
  color: white !important;
}

.hover-opacity:hover {
  opacity: 0.9;
}

.hover-opacity-half:hover {
  opacity: 0.5;
}

.hover-white:hover {
  background-color: white;
  color: black !important;
}

.hover-black:hover {
  background-color: black !important;
}

.hover-facebook:hover {
  color: #4267b2;
}

.hover-instagram:hover {
  color: #833ab4;
}

.hover-linkedin:hover {
  color: #0077b5;
}

.hover-discord:hover {
  color: #5865f2;
}

.hover-btn-primary:hover {
  background-color: #04aa6d !important;
}

.tv-stand {
  padding: 1.2rem 11rem;
}

/* custom normal title */
.cus-nt {
  padding: 8rem 2rem 2rem 2rem;
  font-size: 3rem;
}

/* custom normal paragraph */
.cus-np {
  font-size: 1.2rem;
}

/* custom supter title */
.cus-st {
  font-size: 5rem;
}

@media only screen and (max-width: 768px) {
  .tv-stand {
    padding: 0.8rem 4rem;
  }

  .cus-nt {
    padding: 6rem 2rem 2rem 2rem;
    font-size: 2.5rem;
  }

  .cus-np {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 500px) {
  #search-form-top {
    width: 75%;
  }

  .tv-stand {
    padding: 0.8rem 3rem;
    font-size: 1.1rem;
  }

  .cus-nt {
    padding: 5rem 2rem 2rem 2rem;
    font-size: 2rem;
  }

  .cus-np {
    font-size: 0.8rem;
  }

  /* custom text input */
  .cus-ti {
    font-size: 0.8rem;
  }

  .cus-st {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 380px) {
  .cus-d-xsm-none {
    display: none;
  }

  /* custom font size extra small */
  .cus-fs-xsm-10 {
    font-size: 10px;
  }

  .cus-fs-xsm-14 {
    font-size: 14px;
  }

  .tv-stand {
    padding: 0.8rem 3rem;
    font-size: 1rem;
  }

  .cus-st {
    font-size: 3rem;
  }
}
