.cus-btn {
  border: none;
  outline: none;
  background: transparent;
  font-weight: inherit;
}

.link-light:hover {
  color: #04AA6D !important;
}

.mini-icon-frame button{
  background: none;
  color: white;
  border: none;
  outline: none;
}

.tagnamecolor { 
  color: brown;
}

.tagcolor {
  color: mediumblue;
}

.attributecolor {
  color: red;
}

.code-frame {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
}

#carousel-slider .carousel-indicators button{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #bbb;
  margin:0 4px;
}

#carousel-slider .carousel-indicators button.active {
  background-color: #717171;
}

a.hover-primary:hover {
  color: #04AA6D !important; 
}

.hover-opacity:hover {
  opacity: 0.9;
}

.hover-opacity-half:hover {
  opacity: 0.5;
}

.hover-white:hover {
  background-color: white;
  color: black !important;
}

.hover-facebook:hover {
  color: #4267B2;
}

.hover-instagram:hover {
  color: #833AB4;
}

.hover-linkedin:hover {
  color: #0077B5;
}

.hover-discord:hover {
  color: #5865F2;
}
